@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {--main-color: #323232;; --color-dark: #1D2231; --text-grey:#8390A2;}

* { padding: 0; margin: 0; box-sizing: border-box; list-style-type: none; text-decoration: none; font-family: 'Poppins', sans-serif; }

main {
    margin-top: 85px; padding: 2rem 1.5rem; background: #f1f5f9; min-height: calc(100vh - 90px);
}

.recent-grid {white-space:nowrap; margin-top: 3.5rem; display: grid; /* grid-gap:1.3rem; */ grid-template-columns:100%;}

.card {background: #fff; border-radius: 5px;}

.card-header {display: flex; justify-content: space-between; padding: 1rem; align-items: center; border: 1px solid #f0f0f0;}



.customercares { width: 270px; height: 100%; background: #fff;}
.card-body {padding: 1rem;}
.card-body:first-of-type { padding:0 }
.card-body ul li {width: 100%; }
.card-body ul li a { display: block; padding: 1rem;  color: var(--main-colors);}
.card-body ul li a span {display: inline-block; margin-left: 1rem;}
.card-body ul a.active {  background: var(--main-color);  padding: 1rem; color: #fff; border-radius: 2px;} 


.card-header .search-wrapper {width: 980px;}
.card-header .search-wrapper input {width: 100%;}

table { border-collapse: collapse; ;}

thead tr {border-top: 1px solid #f0f0f0; border-bottom:2px solid #f0f0f0;}

thead td {font-weight: 600;}
td {padding: .5rem 1rem; font-size: .9rem; color: #222;} 





	/* 운영자 리뷰 관리 */
	.title_box{
		/* border:1px solid black; */
		display:block;
		width: 200px;
		background-color:white;	
		border-radius:5px;
		padding:10px;
		text-align : center;	
		position:relative;	
		box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
	}
	.review_content{
		/* border:1px solid black; */
		width:100%;
		/* height:50px; */
		background-color:white;	
		display:block;
		position:relative;
		top:-10px;
		box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
		border-radius:5px;
		margin-bottom:20px;
	}

	
	/* 상품 상세 조회 */
	.review_search{
		width:100%;
		/* border-collapse: collapse;  */ 
		border-collapse: separate;
		margin-bottom:20px;
		border-spacing: 0 0 50px 0;
		padding:20px;
		border:1px solid #dbdde2;
		border-radius:5px;
	}
	.review_search th{
		vertical-align: middle;
		background: var(--main-color);
		color: #fff;
		border: 1px solid  #fff;
		width: 200px;
	}
	.review_search td{
		vertical-align: middle;
	}
	.review_search_btns{
		text-align: center;
	}
	.search_class, .review_search input[type=date], .answer_search_class, .search_class_main, .search_class_sub{
		width:180px;
		padding: 4px 10px;
		margin-right:5px;
	}
	.search_bar{
		padding: 5px 10px;
		width:250px;
		border-radius:0px;
		margin-left:10px;
	}
	.period_search{
		background: #fff;
	    border-radius: 10px;
	    color: var(--main-color);
	    font-size: .8rem;
	    padding: 0.5rem 2rem;
	    border: 1px solid var(--main-color);
	    margin-right: 10px; 
	}
	/* .period_search:active{
		background: var(--main-color);
	    border-radius: 10px;
	    color: #fff;
	    font-size: .8rem;
	    padding: 0.5rem 2rem;
	    border: 1px solid var(--main-color);
	    margin-right: 10px; 
	} */
	.first-date{
		margin-left:6px;
	}
	
	.search_btn{
		background: #fff;
	    border-radius: 10px;
	    color: var(--main-color);
	    font-size: .8rem;
	    padding: 0.5rem 0rem;
	    width:100px;
	    border: 1px solid var(--main-color);
	    margin-right: 10px;
	}
	.search_btn:first-child{
		background: var(--main-color);
	    border-radius: 10px;
	    color: #fff;
	    font-size: .8rem;
	    width:100px;
	    padding: 0.5rem 0rem;
	    border: 1px solid var(--main-color);
	}
	
	.review_search input[type=checkbox], .review_search input[type=radio]{
	
		display:none;
	}

	input#review_check1 + label:before, input#review_check2 + label:before, input#review_check3 + label:before,
	input#review_check4 + label:before, input#review_check5 + label:before, input#review_radio1 + label:before,
	input#review_radio2 + label:before, input#review_radio3 + label:before {
		content:"";
		display:inline-block;
		width:35px;
		height:35px;
		line-height:35px;
		border:2px solid var(--main-color);
		border-radius:5px;
		vertical-align: middle;
	}

	
	input#review_check1:checked + label:before, input#review_check2:checked + label:before, input#review_check3:checked + label:before
	, input#review_check4:checked + label:before, input#review_check5:checked + label:before, input#review_radio1:checked + label:before,
	input#review_radio2:checked + label:before, input#review_radio3:checked + label:before{
		content:"\f00c";/*폰트어썸 유니코드*/
		font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
		font-weight:900;
		color:#fff;
		background: var(--main-color);
		vertical-align: middle;
		text-align:center;
		font-size:20px;
	}
	
	
	.review_search input[type=radio]:checked{
		background: var(--main-color);
		border:none;
	}
	
	.review_search span{
		padding: 0 8px 0 10px;
		
	}

	
	/* 상품리스트-헤더 */
	.review_list{
		width:100%;
		background-color:white;	
		display:block;
		box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
		border-radius:5px;
		
	}
	.list_heading{
		padding: 1rem;
		border-bottom: 1px solid #dbdde2;
		display:flex;
		justify-content: space-between;
   		align-items: center;
		}
	
	.heading_left{		
		float: left;
	}
	.heading_right{
		float: right;	
	}
	.heading_right select{
		/* width:180px; */
		padding: 4px 10px;
		margin-right:5px;
	}
	.heading_right button{
		background: var(--main-color);
	    border-radius: 10px;
	    color: #fff;
	    font-size: .8rem;
	    padding: 0.5rem 2rem;
	    border: 1px solid var(--main-color);
	}
	
	.heading_right select{
		margin-right:25px;
	}
	
	/* 상품리스트-테이블 */
	.list_content{
		padding: 3rem;
		justify-content: space-between;
   		align-items: center;
	}
	.table_flame{
		width: 100%;
		height: 400px;
		border: 1px solid #F6F6F6;
		background: #F6F6F6;
		/* 스크롤 */
		overflow:auto;
	}
	
	.list_table{
		width: 100%;
		/* height: 500px; */
	    border: 1px solid #dbdde2;
	    border-collapse: collapse;
	}
	.list_table td{
		/* padding: 1em .5em; */
		background:#fff;
	 	vertical-align: middle;
		border: 1px solid #dbdde2;
		text-align: center;
		/* padding:10px; */
		
	}
	.list_table th{
		vertical-align: middle;
		background: var(--main-color);
		color: #fff;
		border: 1px solid  #fff;
		margin-bottom:10px;
		padding:6px 10px 6px 10px;
	}


