/* 스크롤시 공통 */
.header .boundary{ margin:0 12px; color:#e6e6e6; }
.header .top_list{ font-size:13px; color:#888888; cursor:pointer; }
.header .top_list.fl:hover{ color:#222; }
.header .top_list.member_name {color:#222; }
.header .gnb_right{ float:right; }
.header .gnb_right li{ padding:8px 0 2px 0; margin:0 8px; font-size:14px; font-weight:900; color:#333; float:left; cursor:pointer; position:relative; display:inline-block; }
.header .move_area .top_list{ font-size:13px; color:#fff; cursor:pointer; }

/* 툴팁 */
.stickytooltip{
	display:none;
	position:absolute;
	display:none;	
	z-index:3000;
}

.gnb_category {display: flex; width:100%; justify-content: space-between;}


.gnb_category .gnb_category__product_menu {display:flex; padding-right:23px; border-right:1px solid #f0f0f0;}
.gnb_category .gnb_category__product_menu li {position:relative; padding:0 19px; white-space: nowrap;}
.gnb_category .gnb_category__product_menu li:after {content: ""; position: absolute; display: block; bottom:-1px; left:0; width:100%; height:1px; background: #1f1f2c; z-index: 1;}
.gnb_category .gnb_category__product_menu li:first-child {padding-left:0;}

.gnb_category .gnb_category__sub_menu {display:flex; flex: 1; justify-content: flex-end;}
.gnb_category .gnb_category__sub_menu li {position:relative; padding:0 19px; white-space: nowrap;}
.gnb_category .gnb_category__sub_menu li::after{content: ""; position: absolute; display: block; bottom:-1px; left:0; width:100%; height:1px; background: #1f1f2c; z-index: 1;}
.gnb_category .gnb_category__sub_menu li:last-child {padding-right:0;}

.gnb_category .gnb_category__product_menu li,.gnb_category .gnb_category__sub_menu li {display: flex; height:64px; align-items: center; font-size:16px; color:#222; line-height:1.5; font-weight: bold; cursor: pointer;}
.gnb_category .gnb_category__product_menu li.on,.gnb_category .gnb_category__sub_menu li.on  {color:#f52644; }
.gnb_category .gnb_category__product_menu li.off,.gnb_category .gnb_category__sub_menu li.off {color:#222;}
.gnb_category .gnb_category__product_menu li.on2,.gnb_category .gnb_category__sub_menu li.on2 {color:#f52644;}
.gnb_category .gnb_category__product_menu li:hover,.gnb_category .gnb_category__sub_menu li:hover {color:#f52644; }


/* 헤더 */
.header{min-width:1360px; height:226px; margin-bottom:30px; }
.header .header_width{ width:1080px; margin:0 auto; }
.header .top_area{ min-width:1360px; height:40px; line-height:40px; background-color:#fafafa; text-align:right; }
.header .top_area .selling{ display:inline; position:relative; }
.header .top_area .selling .selling_menu{display:none;  width: 92px; padding: 12px 16px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); border: solid 1px #e6e6e6; border-radius: 4px; background-color:#fff; text-align:left; position:absolute; top:20px; left:-18px; z-index:999; box-sizing: border-box;}
.header .top_area .selling .selling_menu li{ margin-top:4px; height:20px; line-height: 20px; font-size:13px; cursor:pointer; color:#555; }
.header .top_area .selling .selling_menu li:hover{color:#222; text-decoration: underline;}
.header .top_area .selling .selling_menu li:first-child {margin:0;}
.header .top_area .selling:hover .selling_menu{ display:block; }
.header .top_area .top_list.access_box {display:inline-block;}
.header .top_area .top_list .access {line-height: 15px;font-size:10px;color:#333;margin-left:10px;display:inline-block;padding:0 7px 0 7px;height: 15px;border-radius:10px;background-color:#fff;}

.header .logo_area{ min-width:1360px; padding:40px 0 30px 0; }
.header .logo_area .logo_area__inner_box {display: flex; flex-wrap: wrap; align-items: center; width:100%; height:120px;}
.header .logo_area .logo_area__inner_box .header-search {flex:1; margin-left:40px;}
.header .logo_area .logo_area__inner_box .logo_area__icon_box {position:relative; display: flex; top:3px; justify-content: end;}
.header .logo_area .logo_area__inner_box .logo_area__icon_box dl {min-width:52px; padding-left:16px; cursor: pointer;}
.header .logo_area .logo_area__inner_box .logo_area__icon_box dl:first-child {padding:0;}
.header .logo_area .logo_area__inner_box .logo_area__icon_box .icon {position: relative; display:block; text-align: center; }
.header .logo_area .logo_area__inner_box .logo_area__icon_box .txt {font-size:12px; color:#222; margin-top:4px;text-align: center; line-height: 1.5;}
.header .logo_area .logo_area__inner_box .logo_area__icon_box .count {position: absolute; top:0; right: 2px; width:20px; height:20px; line-height:20px; background:#f52644; border-radius: 50%; color:#fff; font-size:12px; font-weight: 500;}
.header .logo_area .search_box {position:relative; top:-2px; width: 400px; border-bottom:3px solid #333; }
.header .logo_area .search_box form {display:flex; align-items: center; width:100%;}
.header .logo_area .search_box .search_list{ width:80px; padding-right:5px; float:left; cursor:pointer; position:relative; text-align:center; }
.header .logo_area .search_box .search_list .search_list_drop{ width:70px; border:1px solid #333; background-color:#fff; position:absolute; top:26px; left:0; z-index:999; display:none; }
.header .logo_area .search_box .search_list .search_list_drop li{ text-align:center; }
.header .logo_area .search_box .search_list .img_arrow{ padding:10px 0; float:right; }

.header .logo_area .search_box #all_search{display:none; border:1px solid #e6e6e6; background-color:#fff; position:absolute;  border-radius: 4px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); box-sizing: border-box;  top:47px; left:0; right:0; z-index:99998; }

.header .logo_area .search_box .header_search{flex:1; height:40px; padding:0 8px; border:0; font-size:16px;  outline: none; color:#222; font-family: "Pretendard";}
.header .logo_area .search_box .btn_inner_box {display: inline-block; padding:10.3px;}
.header .logo_area .search_box .search_btn{cursor:pointer;}
.header .logo_area .search_box .search_btn:focus {outline: none;}
.header_search_input {display: flex;}
.header_search_input .header_search {display: flex; outline:none; }
/*  */

.all_search__box {display: flex; flex-wrap: wrap; padding:20px 24px 16px 24px;}
.all_search__box .lately_none {height: 28px; line-height: 28px; font-size:13px; color:#aaa;}
.all_search__box .all_search__list {flex:1; width: calc(50% - 12px);}
.all_search__box .all_search__list .all_search__title {display: flex; align-items: center; justify-content: space-between; border-bottom:1px solid #f0f0f0; padding-bottom:8px; margin-bottom:8px;}
.all_search__box .all_search__list .all_search__title .all_search__txt {font-size:15px; color:#222; line-height: 1.53; font-weight: bold;}
.all_search__box .all_search__list .all_search__title .all_search__sub_txt {font-size:11px; line-height: 1.45; color:#aaa}
.all_search__box .all_search__list li {height: 28px; line-height: 28px; font-size:13px; cursor: pointer;}
.all_search__box .all_search__list li .num{display:inline-block; width:20px; font-size:13px; color:#222;}
.all_search__box .all_search__list li .txt{color:#555;font-size:13px;}
.all_search__box .all_search__list li .txt:hover{color:#222; text-decoration: underline;}
.all_search__box .all_search__list .recent_keyword {display:flex; justify-content: space-between; align-items: center;}
.all_search__box .all_search__list .recent_keyword .keyword {flex:1; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; font-size:13px; color:#555;}
.all_search__box .all_search__list .recent_keyword .keyword:hover {color:#222; text-decoration: underline;}
.all_search__box .all_search__list li .btn_remove {padding:4px;}
.all_search__box .all_search__list li .btn_remove:after {content:""; position:absolute; display:block; width:28px; height:28px; top:50%; left:50%; transform:translate(-50%,-50%);}
.all_search__box .all_search__list:last-child {margin-left:24px;}
.search_remove {cursor: pointer;}

/* .header.seller_fixed_on  #top_area {position:fixed;width:100%;top:0;z-index: 9999;} */

.box_guide_text {padding:8px 12px;background-color:#222;border-radius:5px;position:absolute;top:-8px;right:calc(100% + 15px);right:-webkit-calc(100% + 15px);}
.box_guide_text span {white-space:nowrap;}
.box_guide_text:after {content:"";position:absolute;top:15px;right:-5px;width:0;height:0;border-style:solid;border-width:0 4px 4px 4px;border-color:transparent transparent #222 transparent;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}

.header .move_gnb{ min-width:1360px; }
.header .move_area{ height:30px; padding:15px 0 14px; border-bottom:1px solid #333; background-color:rgba(51,51,51,0.9); position:fixed; top:0; left:0; right:0; z-index:99999; display:none; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); }
.header .move_area .move_count{ margin-left:5px; font-size:13px; color:#fff; }
.header .move_area .message_icon{ vertical-align:-4px; }
.header .move_area .r_no{ margin-top:5px; margin-left:-5px; }
.header .gnb_bar_area{position: relative; border-top:1px solid #f0f0f0; border-bottom:1px solid #1f1f2c; min-width:1360px; }
.header .gnb_bar_area:after {content:""; display: block; position: absolute; bottom:-8px; left:0; width:100%; height: 8px; margin: 1px 0 0; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));}
.header .gnb_bar_area .gnb_menu{ margin-left:-20px; }
.header .gnb_bar_area .gnb_menu .gnb_underline_top{ height:2px; background-color:#d01f3c; position:absolute; bottom:-1px; left:0; right:0; z-index:9000; display:none; }
.header .gnb_bar_area .gnb_menu li{ height:35px; line-height:35px; padding:0 20px; font-size:13px; font-weight:700; color:#222; float:left; cursor:pointer; position:relative; white-space: nowrap;}
.header .gnb_bar_area .gnb_menu li:hover .gnb_underline_top{ display:block; }
.header .gnb_bar_area .gnb_menu li.on .gnb_underline_top{ display:block; }
.header .gnb_bar_area .gnb_menu li .gnb_menu_span{ padding-bottom:9px; font-size:13px; font-weight:700; color:#222; }
.header .gnb_bar_area .gnb_menu li.span_move:hover{ height:65px; }
.header .gnb_bar_area .gnb_menu li.span_move:hover .gnb_underline_top{ display:none; }
.header .gnb_bar_area .gnb_menu li.span_move:hover .gnb_menu_span{ border-bottom:2px solid #d01f3c; }
.header .gnb_bar_area .gnb_menu li .gnb_drop{ width:210px; height:10px; line-height:10px; padding:10px 8px; position:absolute; top:35px; left:6px; z-index:999; display:none; }
.header .gnb_bar_area .gnb_menu li .gnb_drop span{ padding:0 6px; font-size:13px; font-weight:normal; color:#333; text-align:center; cursor:pointer; }
.header .gnb_bar_area .gnb_menu li .gnb_drop span:hover{ font-weight:bold; }
.header .gnb_bar_area .gnb_menu li:hover .gnb_drop{ display:block; }
.header .gnb_bar_area .gnb_menu li.boundary{ width:1px; height:13px; padding:0; margin-top:11px; background-color:#b5b5b5; }
.header .gnb_area.move{ background-color:#fff; position:fixed; top:60px; left:0; right:0; z-index:99999; display:none; }
.header .gnb_area.move.on{ display:block; }
.header .gnb_area.move .gnb_right{ display:none; }

.header .gnb_bar_area .gnb_menu li .beta_version {font-family:'SD Gothic Neo', sans-serif;border-radius:10px;line-height:14px;display:inline-block;position:absolute;background-color:#e24c58;top:-6px;right:10px;font-size:10px;color:#fff;width:40px;height:14px;text-align:center;vertical-align:middle;}
.header .gnb_bar_area .gnb_menu li .beta_version:after {content:"";position:absolute;top:100%;left:50%;border-style:solid;border-width:3px 2px 0 2px;border-color:#e24c58 transparent transparent transparent;transform:skew(-30deg);}

.header .open_area{ min-width:1360px; border-bottom:1px solid #333; background-color:#fff; position:absolute; left:0; right:0; z-index:8500; display:none; }
.header .open_area .open_area_shadow{ height:4px; background:rgba(0,0,0,0.08); position:absolute; bottom:-4px; left:0; right:0; }
.header .open_area .header_width{ padding:30px 0; position:relative; }
.header .open_area .gnb_underline{ height:2px; background-color:#d01f3c; position:absolute; top:-2px; }
.header .open_area .sub_cate{ font-size:14px; font-weight:bold; color:#333; }
.header .open_area .sub_cate:hover {color: #000;}
.header .open_area .sub_line{ width:15px; height:1px; margin:5px 0 14px 0; background-color:#d01f3c; }
.header .open_area .open_list{ margin:10px 0 13px; cursor:pointer; font-size:13px;}
.header .open_area .open_list:hover{ font-weight:bold; color:#333; }
.header .open_area .category_area{ width:690px; min-height:300px; padding-bottom:20px; border-right:1px solid #e3e3e3; float:left; }
.header .open_area .category_area .sub_category{ width:138px; margin-top:20px; float:left; }
.header .open_area .cate_ban_area{ padding-top:20px; float:right; }
.header .open_area .cate_ban_area .ban_hot{ width:340px; margin-bottom:16px; font-size:14px; font-weight:bold; color:#333; word-break:break-all; }
.header .open_area .cate_ban_area .ban_tab{ margin-left:40px; float:left; text-align:center; cursor:pointer; }
.header .open_area .cate_ban_area .ban_tab .ban_brand_name{ width:150px; margin-top:12px; font-size:13px; font-weight: bold; height: 16px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; color:#222; }
.header .open_area .cate_ban_area .ban_tab .ban_product_name{ width:150px; min-height:16px; max-height:38px; font-size:13px; line-height: 1.46; margin-top:8px; color:#555; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; }
.header .open_area .cate_ban_area .ban_tab .ban_price{display: flex; height: 17px; align-items: center;justify-content: center; width:150px; margin-top:8px; font-size:14px; font-weight:bold; color:#222; }
.header .open_area .cate_ban_area .ban_tab .sold_out {height: 17px; align-items: center;justify-content: center; width:150px; margin-top:8px; font-size:14px; font-weight:bold; color:#f52644;}
.header .open_area .cate_ban_area .ban_tab .ban_price .discount {font-size:14px; font-weight: bold; color:#f52644; margin-left: 4px;}
.header .open_area .cate_ban_area .ban_tab .ban_seller{ display: flex; justify-content: center; align-items: center; width:150px; margin-top:16px; font-size:11px; font-weight:bold; color:#222; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.header .open_area .cate_ban_area .ban_tab .ban_seller img {margin-right:4px}
.header .open_area .brand_area{ width:855px; padding-top:12px; border-right:1px solid #e3e3e3; float:left; overflow:hidden; }
.header .open_area .brand_area .brand_menu{ margin-bottom:15px; position:relative; }
.header .open_area .brand_area .brand_menu .brand_menu_all{ background-color:#fff; float:left; position:relative; z-index:10; }
.header .open_area .brand_area .brand_menu .brand_menu_search{ background-color:#fff; position:absolute; top:0; width:838px; left:-838px; z-index: 5;}
.header .open_area .brand_area .brand_menu .brand_menu_search .brand_border{ width:79px; height:28px; border-bottom:2px solid #222; float:left; }
.header .open_area .brand_area .brand_menu .brand_menu_search .brand_text{ width:230px; height:30px; border:0; border-bottom:2px solid #222; outline:none; box-sizing:border-box; padding:0 10px;}
.header .open_area .brand_area .brand_menu .brand_menu_search .btn_gray3{ width:50px; height:26px; margin-right:55px; padding:0; border-radius:20px; font-size:13px; line-height:24px; background-color:#222; vertical-align:-3px; vertical-align:-5px\0/IE8; }
.header .open_area .brand_area .brand_menu .brand_menu_search .btn_brand_show{ border:0; font-size:13px; font-weight:bold; color:#222; background-color:#fff; vertical-align:-3px; outline:none; }
.header .open_area .brand_area .brand_menu .brand_menu_search .btn_open_alphabet{ margin-left:183px; vertical-align:-11px; cursor:pointer; }
.header .open_area .brand_area .brand_menu .brand_menu_alphabet{ padding-bottom:2px; background-color:#fff; float:left; }
.header .open_area .brand_area .brand_menu .brand_menu_alphabet li{ width:25.5px; height:25.5px; padding:5px 0; box-sizing:border-box; font-size:13px; font-weight:bold; color:#333; text-align:center; float:left; cursor:pointer;margin-top:1.5px; line-height:15px;}
.header .open_area .brand_area .brand_menu .brand_menu_alphabet li.brand_best,
.header .open_area .brand_area .brand_menu .brand_menu_alphabet li.brand_interest {width:30px;height:30px;margin-right:4px;margin-top:0;padding:7px 0;}

.header .open_area .brand_area .brand_menu .brand_menu_alphabet li:hover{ border-radius:50%; background-color:#efefef; }
.header .open_area .brand_area .brand_menu .brand_menu_alphabet li.on{ border-radius:50%; background-color:#333; color:#fff; }
.header .open_area .brand_area .brand_menu .brand_menu_all li{ height:28px; line-height:28px; font-size:13px; font-weight:bold; color:#333; text-align:center; float:left; cursor:pointer; }
.header .open_area .brand_area .brand_menu .brand_menu_all li.boundary{ padding:0 4px; margin:0; font-weight:normal; color:#b5b5b5; cursor:default; }
.header .open_area .brand_area .brand_list_header{ width:813px; height:349px; padding:12px 0 15px 20px; border:1px solid #e3e3e3; overflow:auto; }
.header .open_area .brand_area .brand_list_header .brand_name p{ width:265px; padding:6px 0 7px; float:left; }
.header .open_area .brand_area .brand_list_header .brand_name p a:hover{ font-weight:bold; color:#333; }
.header .open_area .brand_area .brand_list_header .brand_name .brand_search_none{ line-height:1.8; padding:105px 0; text-align:center; }
.header .open_area .brand_area .brand_list_header .brand_name .brand_cell {display:table-cell;vertical-align:text-top;line-height:17px;}
.header .open_area .brand_area .brand_list_header .brand_name .brand_cell.star_mark {padding-right:3px;cursor:pointer;}
.header .open_area .brand_area .brand_list_header .sub_cate{ font-size:20px; font-family:'SD Gothic Neo', sans-serif; }
.header .open_area .brand_area .btn_brand{ width:120px; margin-top:30px; border:none; font-size:15px; font-weight:bold; color:#222; background-color:transparent; outline:none; }

.header .open_area .brand_area .sub_brand{ margin-bottom:45px; }
.header .open_area .brand_area .sub_brand table tr td:hover{ font-weight:bold; color:#333; cursor:pointer; }
.header .open_area .brand_area .sub_brand .cate_brand{ width:118px; float:left; }
.header .open_area .brand_area .sub_brand .cate_brand .sub_cate{ margin:10px 0 15px; }
.header .open_area .brand_area .sub_brand .header_brand_table{ margin-top:10px; }
.header .open_area .brand_area .sub_brand .header_brand_table tr th{ font-size:14px; font-weight:bold; color:#333; text-align:left; }
.header .open_area .brand_area .sub_brand .header_brand_table tr td{ padding:8px 38px 8px 0; }
.header .open_area .brand_ban_area{ float:right; }
.header .open_area .brand_ban_area .ban_tab{ padding:18px 0 20px 0; }
.header .open_area .brand_ban_area .ban_tab .ban_brand_name{ width:200px; margin-top:6px; font-size:17px; font-weight:bold; color:#333; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.header .open_area .brand_ban_area .ban_tab .ban_brand_desc{ width:200px; margin-top:5px; color:#333; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center; }

/*footer*/
#footer{ width:100%; min-width:1360px; position:relative; background-color:#fff; clear:both; }
.footer_n{ text-align:left; border-top:1px solid #f0f0f0; font-size:12px; color:#888; }
.footer_n .b_bottom_bf{ border-bottom:1px solid #f0f0f0; }
.footer_n .b_bottom_bf .footer_top{ width:1080px; height:64px; margin:0 auto; }
.footer_n .b_bottom_bf .footer_top .footer_left{ float:left; line-height:64px; }
.footer_n .b_bottom_bf .footer_top .footer_left span a{ font-size:14px; color: #222; }
.footer_n .b_bottom_bf .footer_top .footer_left .fl{ width:33px; margin-top:-1px; text-align:center; font-weight:normal; color: #999;}
.footer_n .b_bottom_bf .footer_top .footer_right{ float:right; height:32px; box-sizing: border-box; padding: 16px 0; }
.footer_n .b_bottom_bf .footer_top .footer_right img{ margin-left:8px; }
.footer_n .b_bottom_bf .footer_top .mi-vertical-boundary-sm:after {background-color: #e6e6e6; height: 12px; vertical-align: -1px;}
.footer_mid { width:1080px; margin:32px auto 49px; }
.footer_mid .footer_logo{ width:440px; float:left; }
.footer_mid .footer_logo .app_direct {width:146px;height:30px;background-color:#8b8b8b;border:0;color:#fff;}
.footer_mid .footer_sen{ width:350px; float:left; padding-left:40px; }
.footer_mid .footer_sen p span{ font-size:12px; color:#888;}
.footer_mid .footer_sen .change_min{ display:none; }
.footer_right_banners a {width: 220px; margin-bottom: 8px;}
.footer_right_banners .qr_app{margin-bottom: 24px;}
.mustit_footer_bi { width: 160px; }
.footer-sns {background: url("//mustit-ux.s3.ap-northeast-2.amazonaws.com/img/front/sprites/sprite_sns_icons.png") no-repeat;background-size: 160px 32px;display: inline-block;width: 32px;height: 32px;}
.footer-sns-facebook {background-position: 0 0;}
.footer-sns-instagram {background-position: -32px 0;}
.footer-sns-kakaotalk {background-position: -64px 0;}
.footer-sns-naver {background-position: -96px 0;}
.footer-sns-youtube {background-position: -128px 0;}
.footer_mid [src*='badge_isms'] { width: 40px; }
.footer_mid [src*='mustit_app_qr_code'] { width: 44px; }
.footer_mid [src*='icon_arrow_right_s'] { width: 12px; }