.bg {
	text-align: center;
	background: #fff;
}


.listArea {
	width: 100%;
	height: 498px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.listTab {
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 86px;
	border-bottom: 1px solid #222;
	list-style: none;
	text-align: center;
	display: inline-block;
}

.li01 {
	text-align: center;
	display: inline-blokc;
	width: 20%;
	height: 86px;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.label01 {
	text-align: center;
	position: absolute;
	display: inline-block;
	left: 40%;
}

.span01 {
	padding: 30px 0;
	text-align: center;
	color: #a0a0a0;
	font-size: 20px;
	line-height: 26px;
	display: inline-block;
}

.span01:hover {
	color: black;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+.span01 {
	display: inline-block;
	cursor: pointer;
}

input[type="radio"]:checked+.span01 {
	color: black;
	font-weight: bold;
}

.keyword {
	width: 1080px;
	background-color: lightgray;
	display: inline-block;
	padding: 50px 0;
	margin: 0;
}

.keywordTitle {
	margin-bottom: 30px;
	color: black;
	font-size: 30px;
}

.wordArea {
	width: 780px;
	margin-bottom: 30px;
	margin: auto;
}

.word {
	padding: 9px 10px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 18px;
	border-radius: 2em;
	display: inline-block;
	background-color: #fff;
}

.word:hover {
	background-color: #d01f3c;
	color: white;
}
.search{
	display:flex;
	justify-content: center;
  	align-items: center;
}
.search_keyword{
	margin-top: 20px;
	width: 600px;
	height: 50px;
	padding: 5px;
}

.search_btn{
	margin-top: 20px;
	padding: 5px;
}


	/** ¥Ò±€ ≈«∏ﬁ¥∫ **/ 
.nav {
	width:1080px;
	margin-top:10px;
}

.tabmenu input[type="radio"] {
	display: none;
}

.tabmenu label {
	display: inline-block;
	width: 10%;
	padding: 10px 0;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
}

.tabmenu>div {
	display: none;
}

.tabmenu #tab1:checked ~ #cont1, .tabmenu #tab2:checked ~ #cont2,
	.tabmenu #tab3:checked ~ #cont3 {
	display: block;
}

/** ±€æ≤±‚ **/
.tabmenu button[type="button"] {
	margin-top: 1rem;
	margin-left: 34.41rem;
	cursor: pointer;
	border: #d01f3c;
	background: #d01f3c;
	color: #fff;
	font-weight: 600;
	width: 120px;
	padding: .63rem 0;
	border: none;
}

/** ∆Ú¡° ¥Ò±€ **/
.review {
	border-top: 1px solid #000000;
	margin-top: 10px;
}

.review_content ul {
	padding-left: 0;
}

.review_content ul li {
	list-style-type: none;
	padding: 18px 0;
	border-bottom: 1px solid #F5F5F5;
}

.review_content ul li:last-child {
	border-bottom: none;
}

.review_list {
	display: inline-flex;
	width:100%;
}

.review_list_header_rating {
	margin-bottom: 9px;
	width: 150px;
}

.review_list_header .title {
	font-family: 'SF UI Display Semibold';
	font-size: 15px;
	font-weight: 600;
}

.review_list_header .size {
	font-size: 12px;
	color: #9B9B9B;
}

.review_list_content_header {
	display: flex;
}

.review_list_content_header div, span {
	margin-right: 4px;
}

.review_list_content_header span {
	color: #ebebeb;
}

.review_list_content_header .link {
	color: #a0a0a0;
}

.review_list_content_header a:visited {
	color: #a0a0a0;
}

.review_list_content p {
	margin: 15px 0;
	word-break: normal;
	text-align:left;
}

.review_list_content_footer {
	display: flex;
}

.review_list_content_footer button, .review_list_content_footer div {
	margin-right: 14px;
}

.review_list_content_footer button {
	padding: .32rem 1.15rem;
	background: #ffffff;
	border: 1px solid #a0a0a0;
	color: #a0a0a0;
	border-radius: .1rem;
}

.review_list_content_footer div {
	padding: .32rem 0;
}

.score{
 	width:150px;
}
.score label{
	color:transparent;
	font-size:1em;
	text-shadow: 0 0 0 #a00;
	width:auto;
}