<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.product">
	<!-- 관리자 상품등록 -->
	<insert parameterType="com.myshop.vo.MyshopProductVO" id="insert">
		insert into myshop_product values(
		sequ_shop_product.nextval,#{category_id}, #{pname}, #{brand}, #{quantity}, #{price}, #{delivery_price},sysdate,sysdate,
		 #{rating}, #{pdetail}, #{pfile}, #{psfile},#{psize}) 
	</insert>
	<!-- 상품목록 전체리스트 -->
	<select parameterType="map" id="list" resultType="com.myshop.vo.MyshopProductVO">
		<![CDATA[
		select rno,pid,psfile,pname,category_id,category_nm,brand,quantity,price,delivery_price,regdate,updatedate
		from(select rownum rno,pid,psfile,pname,category_id,category_nm,brand,quantity,price,delivery_price,regdate,updatedate
		from(select p.pid,p.pname,p.category_id,c.category_nm,p.price,p.regdate,p.quantity,p.updatedate,p.delivery_price,p.brand,psfile
		from myshop_product p,myshop_category c 
		where p.category_id = c.category_id order by regdate desc))
		where rno between #{start} and #{end}
	    ]]>
	</select>
	

	<!-- 상품목록 전체리스트 -->
<!-- 	<select parameterType="map" id="list" resultType="com.myshop.vo.MyshopProductVO">
			select p.pid,p.pname,p.category_id,c.category_id,c.category_nm,p.price,p.regdate from myshop_product p 
			inner join myshop_category c on p.category_id = c.category_id where p.category_id = 0
	</select> -->
	
	<!-- 전체 로우수출력 -->
	<select id="totalcount" resultType="int">select count(*) from myshop_product</select>
	
	<!-- 상품 상세보기 -->
	<select parameterType="int" id="productDetail" resultType="com.myshop.vo.MyshopProductVO">
	select pid,pname,pdetail,delivery_price,price,psfile from myshop_product where pid=#{pid} 
	</select>
	
	<!-- 카테고리 리스트 -->
	<select id = "cateList" parameterType="java.lang.String" resultType = "com.myshop.vo.MyshopCategoryVO">
		select category_id,category_nm from myshop_category where dept_level = 1
	</select>
	
	<!-- 카테고리 리스트 /관리자 분류-->
	<select id = "cateListAjax" parameterType="int" resultType = "com.myshop.vo.MyshopCategoryVO">
		select category_id,category_nm from myshop_category where category_parent = #{cateCode}
	</select>
	
	<!-- 여성 카테고리 리스트 -->
	<select id="getWcateCode" resultType="com.myshop.vo.MyshopCategoryVO">
		<![CDATA[
			select * from myshop_category where category_id > 10000 and category_id < 20000
		]]>
	</select>
	
	<!-- 남성 카테고리 리스트 -->
	<select id="getMcateCode" resultType="com.myshop.vo.MyshopCategoryVO">
		<![CDATA[
			select * from myshop_category where category_id > 20000 and category_id < 30000
		]]>
	</select>
	<!-- 키즈 카테고리 리스트 -->
	<select id="getKcateCode" resultType="com.myshop.vo.MyshopCategoryVO">
		<![CDATA[
			select * from myshop_category where category_id > 30000 and category_id < 40000
		]]>
	</select>
	<!-- 라이프 카테고리 리스트 -->
	<select id="getLcateCode" resultType="com.myshop.vo.MyshopCategoryVO">
		<![CDATA[
			select * from myshop_category where category_id > 40000 and category_id < 50000
		]]>
	</select>
	

</mapper>  